In [40]:
import numpy as np
import pandas as pd
df = pd.read_csv("dataset/TC-dataset.csv", sep="\t",index_col=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 471910 entries, 0 to 541909
Data columns (total 8 columns):
BasketID           471910 non-null object
BasketDate         471910 non-null object
Sale               471910 non-null float64
CustomerID         406830 non-null float64
CustomerCountry    471910 non-null object
ProdID             471910 non-null object
ProdDescr          471157 non-null object
Qta                471910 non-null int64
dtypes: float64(2), int64(1), object(5)
memory usage: 32.4+ MB

In [41]:
df[df["Qta"]<=-5000]

,BasketID,BasketDate,Sale,CustomerID,CustomerCountry,ProdID,ProdDescr,Qta
4268,C536757,2010-12-02 14:23:00,0.03,15838.0,United Kingdom,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,-9360
61624,C541433,2011-01-18 10:17:00,1.04,12346.0,United Kingdom,23166,MEDIUM CERAMIC TOP STORAGE JAR,-74215
540422,C581484,2011-12-09 09:27:00,2.08,16446.0,United Kingdom,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995

In [42]:
df[df["Qta"]>=6000]

,BasketID,BasketDate,Sale,CustomerID,CustomerCountry,ProdID,ProdDescr,Qta
61619,541431,2011-01-18 10:01:00,1.04,12346.0,United Kingdom,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215
502122,578841,2011-11-25 15:57:00,0.00,13256.0,United Kingdom,84826,ASSTD DESIGN 3D PAPER STICKERS,12540
540421,581483,2011-12-09 09:15:00,2.08,16446.0,United Kingdom,23843,"PAPER CRAFT , LITTLE BIRDIE",80995

In [43]:
list_baskC=df[df["Qta"]<=0]
count=0
for index, row in list_baskC.iterrows():
    len_list=len(df[(df["CustomerID"]==row['CustomerID'])&(df["Sale"]==row['Sale'])&(df["Qta"]==-row['Qta'])&(df["ProdID"]==row['ProdID'])])
    if len_list>0:
        count+=1
print(count)

3137

In [44]:
len(list_baskC)

9752

In [63]:
df[(df["CustomerID"]==17850.0)&(df["ProdID"]=="82483")]

,BasketID,BasketDate,Sale,CustomerID,CustomerCountry,ProdID,ProdDescr,Qta
57,536373,2010-12-01 09:02:00,4.95,17850.0,United Kingdom,82483,WOOD 2 DRAWER CABINET WHITE FINISH,2
74,536375,2010-12-01 09:32:00,4.95,17850.0,United Kingdom,82483,WOOD 2 DRAWER CABINET WHITE FINISH,2
289,536396,2010-12-01 10:51:00,4.95,17850.0,United Kingdom,82483,WOOD 2 DRAWER CABINET WHITE FINISH,2
424,536406,2010-12-01 11:33:00,4.95,17850.0,United Kingdom,82483,WOOD 2 DRAWER CABINET WHITE FINISH,4
3120,536600,2010-12-02 08:32:00,4.95,17850.0,United Kingdom,82483,WOOD 2 DRAWER CABINET WHITE FINISH,4
3136,536602,2010-12-02 08:34:00,4.95,17850.0,United Kingdom,82483,WOOD 2 DRAWER CABINET WHITE FINISH,4
3199,536609,2010-12-02 09:41:00,4.95,17850.0,United Kingdom,82483,WOOD 2 DRAWER CABINET WHITE FINISH,4
3248,536612,2010-12-02 09:44:00,4.95,17850.0,United Kingdom,82483,WOOD 2 DRAWER CABINET WHITE FINISH,4
3432,536628,2010-12-02 10:54:00,4.95,17850.0,United Kingdom,82483,WOOD 2 DRAWER CABINET WHITE FINISH,4
3450,536630,2010-12-02 10:56:00,4.95,17850.0,United Kingdom,82483,WOOD 2 DRAWER CABINET WHITE FINISH,4
3815,536685,2010-12-02 12:23:00,4.95,17850.0,United Kingdom,82483,WOOD 2 DRAWER CABINET WHITE FINISH,4
3830,536690,2010-12-02 12:25:00,4.95,17850.0,United Kingdom,82483,WOOD 2 DRAWER CABINET WHITE FINISH,4
4170,536750,2010-12-02 14:04:00,4.95,17850.0,United Kingdom,82483,WOOD 2 DRAWER CABINET WHITE FINISH,4
4191,536752,2010-12-02 14:06:00,4.95,17850.0,United Kingdom,82483,WOOD 2 DRAWER CABINET WHITE FINISH,4
4534,536790,2010-12-02 15:26:00,4.95,17850.0,United Kingdom,82483,WOOD 2 DRAWER CABINET WHITE FINISH,4
86888,C543611,2011-02-10 14:38:00,4.95,17850.0,United Kingdom,82483,WOOD 2 DRAWER CABINET WHITE FINISH,-1
86890,C543611,2011-02-10 14:38:00,4.95,17850.0,United Kingdom,82483,WOOD 2 DRAWER CABINET WHITE FINISH,-1
86897,C543611,2011-02-10 14:38:00,4.95,17850.0,United Kingdom,82483,WOOD 2 DRAWER CABINET WHITE FINISH,-2
86898,C543611,2011-02-10 14:38:00,4.95,17850.0,United Kingdom,82483,WOOD 2 DRAWER CABINET WHITE FINISH,-1
86901,C543611,2011-02-10 14:38:00,4.95,17850.0,United Kingdom,82483,WOOD 2 DRAWER CABINET WHITE FINISH,-1