# Normalizzazione
In questa sezione il dataset scelto per la classificazione viene normalizzato con MinMax Scaler

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, MinMaxScaler


df = pd.read_csv("dataset/CL_over-dataset.csv",sep='\t',decimal=",",index_col=0)
df.head()

,Imax,E,PIL,Mt,TsW,NbxW,MeanD,Eday_of_week,class
0,12,4.335643,2.567,18.202218,100.627358,0.641509,0.000000,0.845790,0
1,32,6.503112,2.567,18.970947,60.492264,0.169811,35.000000,1.942764,1
2,360,6.504979,2.752,28.764242,125.368679,0.283019,24.266667,2.396410,1
3,80,4.494680,2.567,33.866071,17.891509,0.094340,55.400000,1.177965,0
4,32,0.000000,2.567,292.000000,16.528302,0.056604,13.000000,0.918296,1

## Normalizzazione con MinMaxScalar

In [10]:
#Imax         E    PIL         Mt        TsW      NbxW  MeanD  Eday_of_week
col_names = ['Imax','E','PIL', 'Mt', 'TsW', 'NbxW','MeanD','Eday_of_week']
features = df[col_names]
scaler = MinMaxScaler()
X = scaler.fit_transform(features.values)# Contiene i valori su cui effettuare il clustering

X_complete=df.copy()# Contiene oltre agli attributi per il clustering anche il custemerID
X_complete[col_names] = X
print(X[:5])

[[2.29214420e-03 4.18976976e-01 1.67671736e-01 8.45717120e-04
  1.91206088e-02 1.62561576e-01 0.00000000e+00 3.30586860e-01]
 [6.45967910e-03 6.28431304e-01 1.67671736e-01 8.84525514e-04
  1.14902291e-02 3.94088670e-02 1.91780822e-01 7.59352158e-01]
 [7.48072515e-02 6.28611740e-01 1.79798112e-01 1.37892916e-03
  2.38243642e-02 6.89655172e-02 1.32968037e-01 9.36665287e-01]
 [1.64617629e-02 4.34345594e-01 1.67671736e-01 1.63648932e-03
  3.39108454e-03 1.97044335e-02 3.03561644e-01 4.60421648e-01]
 [6.45967910e-03 0.00000000e+00 1.67671736e-01 1.46680937e-02
  3.13191507e-03 9.85221675e-03 7.12328767e-02 3.58926766e-01]]

In [11]:
X_complete.to_csv('dataset/CL_over_Normalized-dataset.csv', sep='\t', index=True, decimal=",")

In [12]:
print(X_complete)

          Imax         E       PIL        Mt       TsW      NbxW     MeanD  \
0     0.002292  0.418977  0.167672  0.000846  0.019121  0.162562  0.000000
1     0.006460  0.628431  0.167672  0.000885  0.011490  0.039409  0.191781
2     0.074807  0.628612  0.179798  0.001379  0.023824  0.068966  0.132968
3     0.016462  0.434346  0.167672  0.001636  0.003391  0.019704  0.303562
4     0.006460  0.000000  0.167672  0.014668  0.003132  0.009852  0.071233
...        ...       ...       ...       ...       ...       ...       ...
5632  0.034174  0.643514  0.167672  0.003462  0.059438  0.124330  0.071822
5633  0.012294  0.641771  0.167672  0.001322  0.010815  0.017108  0.271735
5634  0.050010  0.476667  0.167672  0.001762  0.004422  0.004926  0.521144
5635  0.011044  0.523249  0.167672  0.000993  0.002822  0.000000  0.000000
5636  0.015212  0.693070  0.167672  0.000812  0.009889  0.014778  0.079254

      Eday_of_week  class
0         0.330587      0
1         0.759352      1
2         0.936665      1
3         0.460422      0
4         0.358927      1
...            ...    ...
5632      0.774907      2
5633      0.647830      2
5634      0.352426      2
5635      0.000000      2
5636      0.409597      2

[5637 rows x 9 columns]