# Random Forest

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv('./dataset/adult.csv', delimiter=",")

In [9]:
df.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,relationship_num,race_num,sex_num,occupation_num,marital-status_num,workclass_num,native-country_num,label_num
0,39,77516,13,2174,0,40,1,4,1,1,4,7,39,0
1,50,83311,13,0,0,13,0,4,1,4,2,6,39,0
2,38,215646,9,0,0,40,1,4,1,6,0,4,39,0
3,53,234721,7,0,0,40,0,2,1,6,2,4,39,0
4,28,338409,13,0,0,40,5,2,0,10,2,4,5,0

In [10]:
from sklearn.model_selection import train_test_split

from sklearn.metrics import classification_report
label = df.pop('label_num')
train_set, test_set, train_label, test_label = train_test_split(df, label, stratify =label, test_size=0.30)

## Grid search

In [11]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import GridSearchCV
from scipy.stats import randint as sp_randint
from sklearn.metrics import make_scorer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score


param_dist = [{"max_depth": [2,3,12,None],
              "max_features": [8],
              "min_samples_split": [10,50],
              "min_samples_leaf": [10,50],
              "bootstrap": [True, False],
              "criterion": ["entropy", "gini"],
              "class_weight":['balanced', None, {0: 0.3, 1: 0.7}]}]

clf = RandomForestClassifier(n_estimators=30)
grid_search = GridSearchCV(clf, param_dist,  
                            n_jobs=3, 
                            scoring='accuracy')

grid_search.fit(train_set, train_label)
print("Best parameters:",grid_search.best_params_)
print("Best Score: ",grid_search.best_score_)

print("Complete Grid search:")
means = grid_search.cv_results_['mean_test_score']
stds = grid_search.cv_results_['std_test_score']
for mean, std, params in zip(means, stds, grid_search.cv_results_['params']):
    print("%0.3f (+/-%0.03f) for %r"% (mean, std * 2, params))

## Modello Finale

In [ ]:
rf = RandomForestClassifier(n_estimators=30, 
                             criterion='gini',
                             max_features=8,
                             max_depth=6, 
                             min_samples_split=32,
                             min_samples_leaf=10,
                             bootstrap=False) 
rf = rf.fit(train_set, train_label)

In [ ]:
#prediction on the test test
test_pred_rf = rf.predict(test_set)

In [ ]:
#compute the performance of the model
print(classification_report(test_label, 
                            test_pred_rf, 
                            target_names=['<=50', '>50']))