# Knn

In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv('./dataset/adult.csv', delimiter=",")

In [37]:
df.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,relationship_num,race_num,sex_num,occupation_num,marital-status_num,workclass_num,native-country_num,label_num
0,39,77516,13,2174,0,40,1,4,1,1,4,7,39,0
1,50,83311,13,0,0,13,0,4,1,4,2,6,39,0
2,38,215646,9,0,0,40,1,4,1,6,0,4,39,0
3,53,234721,7,0,0,40,0,2,1,6,2,4,39,0
4,28,338409,13,0,0,40,5,2,0,10,2,4,5,0

In [38]:
from sklearn.model_selection import train_test_split

from sklearn.metrics import classification_report
label = df.pop('label_num')
train_set, test_set, train_label, test_label = train_test_split(df, label, stratify =label, test_size=0.30)

## Grid search

In [39]:
from sklearn.model_selection import GridSearchCV
grid_params={
    'n_neighbors':[3,5,10,15,20],
    'weights':['uniform','distance'],
    'metric':['minkowski','manhattan']
}

gs=GridSearchCV(KNeighborsClassifier(),grid_params,verbose=1,n_jobs=3,scoring='accuracy')
gs.fit(train_set,train_label)
print("Best Score: ",gs.best_score_)
print("Best Estimator: ",gs.best_estimator_)
print("Best Params: ",gs.best_params_)

print("Complete Grid search:")
means = gs.cv_results_['mean_test_score']
stds = gs.cv_results_['std_test_score']
for mean, std, params in zip(means, stds, gs.cv_results_['params']):
    print("%0.3f (+/-%0.03f) for %r"% (mean, std * 2, params))

Fitting 5 folds for each of 20 candidates, totalling 100 fits
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:   21.7s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:   39.3s finished
Best Score:  0.8005881061536227
Best Estimator:  KNeighborsClassifier(metric='manhattan', n_neighbors=20, weights='distance')
Best Params:  {'metric': 'manhattan', 'n_neighbors': 20, 'weights': 'distance'}
Complete Grid search:
0.755 (+/-0.010) for {'metric': 'minkowski', 'n_neighbors': 3, 'weights': 'uniform'}
0.752 (+/-0.004) for {'metric': 'minkowski', 'n_neighbors': 3, 'weights': 'distance'}
0.775 (+/-0.008) for {'metric': 'minkowski', 'n_neighbors': 5, 'weights': 'uniform'}
0.769 (+/-0.005) for {'metric': 'minkowski', 'n_neighbors': 5, 'weights': 'distance'}
0.795 (+/-0.005) for {'metric': 'minkowski', 'n_neighbors': 10, 'weights': 'uniform'}
0.786 (+/-0.006) for {'metric': 'minkowski', 'n_neighbors': 10, 'weights': 'distance'}
0.796 (+/-0.005) for {'metric': 'minkowski', 'n_neighbors': 15, 'weights': 'uniform'}
0.791 (+/-0.007) for {'metric': 'minkowski', 'n_neighbors': 15, 'weights': 'distance'}
0.797 (+/-0.004) for {'metric': 'minkowski', 'n_neighbors': 20, 'weights': 'uniform'}
0.794 (+/-0.006) for {'metric': 'minkowski', 'n_neighbors': 20, 'weights': 'distance'}
0.762 (+/-0.008) for {'metric': 'manhattan', 'n_neighbors': 3, 'weights': 'uniform'}
0.760 (+/-0.005) for {'metric': 'manhattan', 'n_neighbors': 3, 'weights': 'distance'}
0.780 (+/-0.009) for {'metric': 'manhattan', 'n_neighbors': 5, 'weights': 'uniform'}
0.775 (+/-0.004) for {'metric': 'manhattan', 'n_neighbors': 5, 'weights': 'distance'}
0.796 (+/-0.007) for {'metric': 'manhattan', 'n_neighbors': 10, 'weights': 'uniform'}
0.793 (+/-0.006) for {'metric': 'manhattan', 'n_neighbors': 10, 'weights': 'distance'}
0.798 (+/-0.005) for {'metric': 'manhattan', 'n_neighbors': 15, 'weights': 'uniform'}
0.798 (+/-0.007) for {'metric': 'manhattan', 'n_neighbors': 15, 'weights': 'distance'}
0.798 (+/-0.005) for {'metric': 'manhattan', 'n_neighbors': 20, 'weights': 'uniform'}
0.801 (+/-0.008) for {'metric': 'manhattan', 'n_neighbors': 20, 'weights': 'distance'}

## Modello finale

In [40]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=2, algorithm='ball_tree', metric='minkowski').fit(train_set, train_label)

In [41]:
#prediction on the test test
test_pred_knn = knn.predict(test_set)

In [42]:
#compute the performance of the model
print(classification_report(test_label, test_pred_knn))

              precision    recall  f1-score   support

           0       0.80      0.94      0.87      7417
           1       0.61      0.27      0.38      2352

    accuracy                           0.78      9769
   macro avg       0.71      0.61      0.62      9769
weighted avg       0.76      0.78      0.75      9769