In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, MinMaxScaler


df = pd.read_csv("dataset/CL-dataset.csv",sep='\t',decimal=",",index_col=0)
df.head()

,Imax,E,PIL,Mt,TsM,TsW,NbxM,NbxW,MeanD,Etrim,Emonth,Eday_of_week,Ehour,class
0,12,2.807355,2.567,15.261429,8.217692,2.015660,0.076923,0.018868,0.000000,0.000000,0.000000,0.000000,0.000000,0
1,12,7.102441,2.567,3.573791,50.033077,12.272264,0.307692,0.075472,55.500000,1.570383,1.570383,1.570383,1.570383,0
2,24,3.000000,2.567,13.797500,8.490769,2.082642,0.076923,0.018868,0.000000,0.000000,0.000000,0.000000,0.000000,0
3,6,3.906891,2.567,4.162000,4.802308,1.177925,0.230769,0.056604,0.333333,0.000000,0.000000,0.353359,0.353359,0
4,48,6.984210,2.567,8.364100,153.770769,37.717358,0.846154,0.207547,24.454545,1.826220,2.894170,1.878620,2.382467,0

## Normalizzazione con MinMaxScalar

In [6]:
col_names = ['Imax','E','PIL', 'Mt', 'TsM','TsW','NbxM', 'NbxW','MeanD','Etrim','Emonth','Eday_of_week','Ehour']
features = df[col_names]
#'Imax','E','PIL','MbPIL', 'Mt', 'TsM','TsW','NbxM', 'NbxW','MeanD','Etrim','Emonth','Eday_of_week','Ehour'
scaler = MinMaxScaler()
X = scaler.fit_transform(features.values)# Contiene i valori su cui effettuare il clustering

X_complete=df.copy()# Contiene oltre agli attributi per il clustering anche il custemerID
X_complete[col_names] = X
print(X[:5])

[[2.29214420e-03 2.75863881e-01 1.67671736e-01 6.97254614e-04
  3.72809453e-04 3.72809453e-04 0.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00]
 [2.29214420e-03 6.97919172e-01 1.67671736e-01 1.07217238e-04
  2.32276826e-03 2.32276826e-03 1.54639175e-02 1.54639175e-02
  3.04109589e-01 6.78523448e-01 4.41490213e-01 6.13802621e-01
  4.77344358e-01]
 [4.79266514e-03 2.94794091e-01 1.67671736e-01 6.23349808e-04
  3.85543731e-04 3.85543731e-04 0.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00]
 [1.04188373e-03 3.83909421e-01 1.67671736e-01 1.36912304e-04
  2.13541295e-04 2.13541295e-04 1.03092784e-02 1.03092784e-02
  1.82648402e-03 0.00000000e+00 0.00000000e+00 1.38114667e-01
  1.07409540e-01]
 [9.79370702e-03 6.86301262e-01 1.67671736e-01 3.49050672e-04
  7.16032335e-03 7.16032335e-03 5.15463918e-02 5.15463918e-02
  1.33997509e-01 7.89064553e-01 8.13653668e-01 7.34280928e-01
  7.24191121e-01]]

In [7]:
X_complete.to_csv('dataset/CL_Normalized-dataset.csv', sep='\t', index=True, decimal=",")

In [8]:
print(X_complete)

          Imax         E       PIL        Mt       TsM       TsW      NbxM  \
0     0.002292  0.275864  0.167672  0.000697  0.000373  0.000373  0.000000
1     0.002292  0.697919  0.167672  0.000107  0.002323  0.002323  0.015464
2     0.004793  0.294794  0.167672  0.000623  0.000386  0.000386  0.000000
3     0.001042  0.383909  0.167672  0.000137  0.000214  0.000214  0.010309
4     0.009794  0.686301  0.167672  0.000349  0.007160  0.007160  0.051546
...        ...       ...       ...       ...       ...       ...       ...
5062  0.008752  0.561521  0.158451  0.001513  0.005757  0.005757  0.000000
5063  0.015837  0.772989  0.167672  0.000318  0.011107  0.011107  0.018415
5064  0.007293  0.668506  0.167672  0.000823  0.009022  0.009022  0.015464
5065  0.011044  0.192608  0.167672  0.009412  0.002058  0.002058  0.000000
5066  0.010419  0.698892  0.167672  0.000475  0.011591  0.011591  0.025773

          NbxW     MeanD     Etrim    Emonth  Eday_of_week     Ehour  class
0     0.000000  0.000000  0.000000  0.000000      0.000000  0.000000      0
1     0.015464  0.304110  0.678523  0.441490      0.613803  0.477344      0
2     0.000000  0.000000  0.000000  0.000000      0.000000  0.000000      0
3     0.010309  0.001826  0.000000  0.000000      0.138115  0.107410      0
4     0.051546  0.133998  0.789065  0.813654      0.734281  0.724191      0
...        ...       ...       ...       ...           ...       ...    ...
5062  0.000000  0.000000  0.000000  0.000000      0.000000  0.000000      2
5063  0.018415  0.348505  0.787310  0.557698      0.498877  0.407350      2
5064  0.015464  0.360274  0.746476  0.485704      0.578432  0.525149      2
5065  0.000000  0.000000  0.000000  0.000000      0.000000  0.000000      2
5066  0.025773  0.192089  0.577339  0.608771      0.026021  0.399318      2

[5067 rows x 14 columns]