# Data preparation
In questa sezione estrarremo i dati rilevanti per il clustering dei clienti.

## Import dataset

In [161]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [162]:
df = pd.read_csv("dataset/DQ-dataset.csv", sep="\t",index_col=0, decimal=",")
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 456644 entries, 0 to 541908
Data columns (total 8 columns):
BasketID           456644 non-null int64
BasketDate         456644 non-null object
Sale               456644 non-null float64
CustomerID         456644 non-null object
CustomerCountry    456644 non-null object
ProdID             456644 non-null object
ProdDescr          456644 non-null object
Qta                456644 non-null int64
dtypes: float64(1), int64(2), object(5)
memory usage: 31.4+ MB

## Estrazione nuove features

Estraiamo le feature per ogni utente:
* I: the total number of items purchased by a customer during the period of
observation.(Si intende la somma delle quantità)

* Iu: the number of distinct items bought by a customer in the period of
observation.

* Imax: the maximum number of items purchased by a customer during a
shopping session (Si intende la quantità massima)

* E: the Shannon entropy on the purchasing behaviour of the customer

Utilizzeremo la shanno entropy indicata nella seguente formula:
$H(X)=-\sum_{i=1}^{n} \frac{m_{i}}{m} \log _{2} \frac{m_{i}}{m}$

In [163]:
import numpy as np
def entropy(labels, base=None):

  m = len(labels)
  ent = 0.
  base = e if base is None else base

  if m <= 1:
    return 0

  _,mi = np.unique(labels, return_counts=True)
  probs = mi / m

  n_classes = np.count_nonzero(probs)
  if n_classes <= 1:
    return 0

  
  for p in probs:
    ent -= p * np.math.log(p, base)

  return ent

## Gestione Pil

In [164]:
df_pil = pd.read_csv("dataset/Country_PIL.csv", sep=";",index_col=0)

In [165]:
dict_pil={}
for index, row in df_pil.iterrows():
    dict_pil[row["Country"]]=row["PIL"]

## Gestione spesa media Clienti

In [166]:
temp = df
temp["Total"] = temp["Sale"]*temp["Qta"]
temp = temp.drop(["Sale"],axis=1)
temp = temp.drop(["Qta"],axis=1)
sum_single_basket=pd.DataFrame(temp.groupby(["CustomerID","BasketID"])["Total"].sum())
mean_of_basket=sum_single_basket.groupby(["CustomerID"])["Total"].mean().reset_index()

## Gestione Saldi totali spesi clienti

In [167]:
temp = df
temp["Total"] = temp["Sale"]*temp["Qta"]
temp = temp.drop(["Sale"],axis=1)
temp = temp.drop(["Qta"],axis=1)
total_sum=temp.groupby(["CustomerID"])["Total"].sum().reset_index()

## Gestione distanza acquisti

In [168]:
temp=df.copy()

single_basket_date=[]
for elem in temp.BasketID.unique():
    data=temp[temp["BasketID"]==elem].BasketDate.iloc[0]
    cust=temp[temp["BasketID"]==elem].CustomerID.iloc[0]
    single_basket_date.append([elem,cust,data])

single_basket_date = pd.DataFrame(single_basket_date, columns=["BasketID","CustomerID","BasketDate"])

In [169]:
difference_dataframe=single_basket_date
difference_dataframe["BasketDate"]=pd.to_datetime(difference_dataframe["BasketDate"])
difference_dataframe["previousDate"]=difference_dataframe.BasketDate.shift()
difference_dataframe["difference_days"]=difference_dataframe["BasketDate"]-difference_dataframe["previousDate"]
difference_dataframe["difference_days"]=difference_dataframe["difference_days"].apply(lambda x: x.days)

## Creazione nuovo dataset

In [172]:
new_data=[]
for elem in df.CustomerID.unique():
    I=df[df["CustomerID"]==elem].Qta.sum()
    Iu=len(df[df["CustomerID"]==elem].ProdID.unique())
    Imax=df[df["CustomerID"]==elem].Qta.max()
    E=entropy(df[df["CustomerID"]==elem].ProdID,2)
    
    #Pil Indicator
    country=df[df["CustomerID"]==elem].CustomerCountry.iloc[0]
    PIL = dict_pil[country]

    # Basket Mean
    Mb=mean_of_basket[mean_of_basket["CustomerID"]==elem].Total.iloc[0]

    # Total Sale
    Ts=total_sum[total_sum["CustomerID"]==elem].Total.iloc[0]

    # Mean difference dates
    Md=single_basket_date[difference_dataframe["CustomerID"]==elem].difference_days.mean()


    new_data.append([elem, I, Iu,Imax,E, PIL,Mb, Ts, Md])

    

    #print("Customer id:\t"+str(elem))
    #print("l:\t"+str(i))
    #print("lu:\t"+str(iu))
    #print("lmax:\t"+str(imax))
    #print("E:\t"+str(E))
new_df = pd.DataFrame(new_data, columns=['CustomerID', 'I', 'Iu', 'Imax','E','PIL', 'Mb', 'Ts','Md'])

In [173]:
new_df[new_df["Md"]!=0]

,CustomerID,I,Iu,Imax,E,PIL,Mb,Ts,Md
18,13408.0,16172,233,192,7.571949,"2,567",452.290968,28042.04,0.016129
89,18229.0,2488,66,100,5.688924,"2,567",363.845000,7276.90,0.050000
181,13798.0,23804,113,432,6.274834,"2,567",647.552456,36910.49,0.017544
234,17819.0,1031,36,50,4.912782,"2,567",529.267143,3704.87,0.142857
253,17243.0,3365,179,96,7.019719,"2,567",333.019231,8658.50,0.346154
254,15465.0,1257,43,120,4.963964,"2,567",408.590000,7354.62,0.388889
265,16839.0,8874,107,144,6.328929,"2,567",482.136471,16392.64,0.029412
275,14810.0,1016,106,14,6.406077,"2,567",189.807273,2087.88,0.090909
276,16353.0,2006,51,96,5.062961,"2,567",290.248261,6675.71,0.043478
338,12708.0,1292,85,25,6.166405,"3,570",244.291000,2442.91,0.100000
368,16722.0,4991,96,200,6.140309,"2,567",362.639231,4714.31,0.307692
402,17616.0,224,1,128,0.000000,"2,567",190.400000,571.20,0.333333
668,16923.0,3373,312,192,7.722473,"2,567",394.222778,7096.01,0.055556
691,17937.0,1754,19,80,4.082673,"2,567",614.460000,4301.22,0.142857
759,16899.0,522,80,48,6.149471,"2,567",213.593333,1281.56,0.166667
840,16746.0,4665,234,144,7.553481,"2,567",372.092222,6697.66,0.055556
1000,14532.0,284,45,25,5.335479,"2,567",233.212500,932.85,0.250000
1018,13313.0,851,47,36,5.317328,"2,567",311.064000,1555.32,2.200000
1096,13593.0,707,76,24,6.047355,"2,567",398.056000,1990.28,0.200000
1107,16326.0,689,157,12,6.876593,"2,567",220.425714,3085.96,0.071429
1163,15569.0,666,27,96,4.647429,"2,567",275.142000,1375.71,0.200000
1188,14040.0,1554,146,50,6.946658,"2,567",301.243333,3614.92,0.083333
1239,16206.0,272,52,24,5.628074,"2,567",134.265000,537.06,0.500000
1261,17988.0,42,36,3,5.155399,"2,567",27.310000,191.17,0.142857
1300,17708.0,91,28,12,4.729283,"2,567",133.540000,267.08,0.500000
1302,15606.0,880,48,48,5.336293,"2,567",322.262222,2900.36,0.222222
1445,15227.0,750,43,96,5.267211,"2,567",243.880000,1219.40,0.200000
1886,14276.0,739,50,24,5.542748,"2,567",352.996667,1058.99,0.333333
1965,13630.0,1387,51,144,5.482766,"2,567",337.346667,2024.08,0.166667
2155,14013.0,462,30,48,4.852169,"2,567",157.673333,473.02,0.333333
2200,13654.0,2182,157,108,7.262058,"2,567",451.221667,2707.33,0.166667
2211,16768.0,192,44,48,5.397916,"2,567",153.096667,459.29,0.666667
2321,17133.0,2730,13,360,3.482127,"2,567",698.891429,4892.24,0.142857
2959,28019N,2,2,1,1.000000,"2,567",4.200000,4.20,1.000000
3013,13450.0,1982,32,144,4.802582,"2,567",340.620000,2043.72,0.166667
3315,18232.0,302,31,25,4.844324,"2,567",148.242500,592.97,0.250000
3551,17651.0,3109,149,100,6.995344,"2,567",392.715000,3927.15,0.100000
3723,16866.0,60,10,12,3.277613,"2,567",69.246667,207.74,0.333333
4282,13434.0,300,9,96,3.121928,"2,567",267.120000,534.24,0.500000

In [174]:
new_df.to_csv('dataset/_temp_CS-dataset.csv', sep='\t', index=False, decimal=",")