In [57]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [58]:
df = pd.read_csv("dataset/DQ-dataset.csv", sep="\t",index_col=0, decimal=",")
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 456644 entries, 0 to 541908
Data columns (total 8 columns):
BasketID           456644 non-null int64
BasketDate         456644 non-null object
Sale               456644 non-null float64
CustomerID         456644 non-null object
CustomerCountry    456644 non-null object
ProdID             456644 non-null object
ProdDescr          456644 non-null object
Qta                456644 non-null int64
dtypes: float64(1), int64(2), object(5)
memory usage: 31.4+ MB

In [59]:
df.head()

,BasketID,BasketDate,Sale,CustomerID,CustomerCountry,ProdID,ProdDescr,Qta
0,536365,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6
1,536365,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,71053,WHITE METAL LANTERN,6
2,536365,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,84406B,CREAM CUPID HEARTS COAT HANGER,8
3,536365,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6
4,536365,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,84029E,RED WOOLLY HOTTIE WHITE HEART.,6

In [60]:

df['ts'] = df.BasketDate.values.astype(np.datetime64).astype(np.int64)
df = df[~df.CustomerID.str.contains("N")]

new_data=[]
for elem in df.CustomerID.unique():
    current_customer_transaction=df[df["CustomerID"]==elem]

    list_basket_elem=[]
    for basket in current_customer_transaction.BasketID.unique():
        current_basket=current_customer_transaction[current_customer_transaction["BasketID"]==basket ]

        list_elem=[]
        for index, row in current_basket.iterrows():
            list_elem.append(row["ProdDescr"])

        list_basket_elem.append((current_basket.iloc[0].ts,list_elem))

    new_data.append(list_basket_elem)

In [62]:
import pickle
file_to_store = open("./dataset/PM-dataset.pickle", "wb")
pickle.dump(new_data, file_to_store)
file_to_store.close()

In [64]:
file_to_read = open("./dataset/PM-dataset.pickle", "rb")
loaded_object = pickle.load(file_to_read)
file_to_read.close()

In [69]:
# to delete timestamp
loaded_object=[[basket[1] for basket in customer] for customer in loaded_object]

In [72]:
new_data[0][0:2]

[(1291191960,
  ['WHITE HANGING HEART T-LIGHT HOLDER',
   'WHITE METAL LANTERN',
   'CREAM CUPID HEARTS COAT HANGER',
   'KNITTED UNION FLAG HOT WATER BOTTLE',
   'RED WOOLLY HOTTIE WHITE HEART.',
   'SET 7 BABUSHKA NESTING BOXES',
   'GLASS STAR FROSTED T-LIGHT HOLDER']),
 (1291192080, ['HAND WARMER UNION JACK'])]

In [73]:
loaded_object[0][0:2]

[['WHITE HANGING HEART T-LIGHT HOLDER',
  'WHITE METAL LANTERN',
  'CREAM CUPID HEARTS COAT HANGER',
  'KNITTED UNION FLAG HOT WATER BOTTLE',
  'RED WOOLLY HOTTIE WHITE HEART.',
  'SET 7 BABUSHKA NESTING BOXES',
  'GLASS STAR FROSTED T-LIGHT HOLDER'],
 ['HAND WARMER UNION JACK']]