# Mean Basket / PIL & Prezzo medio per transazione

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("dataset/DQ-dataset.csv", sep="\t",index_col=0, decimal=",")
df.head()

,BasketID,BasketDate,Sale,CustomerID,CustomerCountry,ProdID,ProdDescr,Qta
0,536365,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6
1,536365,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,71053,WHITE METAL LANTERN,6
2,536365,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,84406B,CREAM CUPID HEARTS COAT HANGER,8
3,536365,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6
4,536365,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,84029E,RED WOOLLY HOTTIE WHITE HEART.,6

## Prezzo medio per transazione

In [16]:
total_sale = df[df["CustomerID"]=='17850.0'].Sale.sum() #Cambiare il 17850 in elem
transactions = len(df[df["CustomerID"]=='17850.0'])
mean_transaction_price = total_sale / transactions

print(total_sale)
print(transactions)
print(mean_transaction_price)

1165.8200000000002
293
3.978907849829352

## Mean Basket / PIL

In [ ]:
#Da aggiungere dentro new indicators
MbNormalized = Mb / PIL